<h1>ストアスケジュール一覧</h1>
<% @store_shift_sections.each do |store_shift_section| %>
  <%= link_to "#{store_shift_section.beginning}~#{store_shift_section.ending}", "/stores/#{params[:store_id]}/store_month_schedules/#{store_shift_section.beginning}/new" %>
  <br>
<% end %>
<%= link_to '1週間設定',  new_store_store_weekly_schedule_path(@store) %><br>