<table class="table weekly_scheduled">
  <tr>
    <th></th>
    <th>月曜日</th>
    <th>火曜日</th>
    <th>水曜日</th>
    <th>木曜日</th>
    <th>金曜日</th>
    <th>土曜日</th>
    <th>日曜日</th>
  </tr>
  <% @working_times.each_with_index do |working_time, i| %>
    <tr>
      <th><%= working_time.strftime( "%H:%M" ) %></th>
      <% @weeklydays.each do |weeklyday| %>
          <%  working_time_from_weeklyday = @current_user.store.store_schedules.find_by(working_time_from: working_time, weeklyday_id: weeklyday.id) %>
          <%  working_time_to_weeklyday = @current_user.store.store_schedules.find_by(working_time_to: working_time, weeklyday_id: weeklyday.id) %>
          <% if working_time_from_weeklyday && working_time_to_weeklyday %>
            <td><%= "┿   #{working_time_from_weeklyday.count}人" %></td>
          <% elsif working_time_from_weeklyday %>
            <td><%= "┯	  #{working_time_from_weeklyday.count}人" %></td>
          <% elsif working_time_to_weeklyday %>
            <td style="border-bottom:1px solid #1f1f1f;">┷</td>
          <% elsif bar_line(weeklyday.id, working_time) %>
            <td>│</td>
          <% else %>
            <td></td>
          <% end %>
      <% end %>
    </tr>
  <% end %>
</table>
