<div id="wrapper">
  <%= form_tag("/schedules/week_set") do %>
    <%# <p>基本人数</p>
    <input type="number"> %>
    <h1>1週間設定</h1>
    <div>
      <p>曜日</p>
      <%= options_for_select("weeklyday", [
        ["月曜日", "mon"],
        ["火曜日", "tue"],
        ["水曜日", "wed"],
        ["木曜日", "thu"],
        ["金曜日", "fri"],
        ["土曜日", "sat"],
        ["日曜日", "sun"]
        ], :multiple) %>
      <%# <select multiple name="weeklyday" size="7" id="" >
        <option value="mon">月曜日</option>
        <option value="tue">火曜日</option>
        <option value="wed">水曜日</option>
        <option value="thu">木曜日</option>
        <option value="fri">金曜日</option>
        <option value="sat">土曜日</option>
        <option value="sun">日曜日</option>
      </select> %>
      <p>時間</p>
      <input type="number" min="1" max="24" name="working_time_from">
      <p>から</p>
      <input type="number" min="1" max="24" name="working_time_to">
      <p>人数</p>
      <input type="number" name="count">
      <input value="追加" type="submit">
    </div>
  <% end %>
</div>