<h1>シフト一覧</h1>
<% @store_shift_sections.each do |store_shift_section| %>
  <%= link_to "#{store_shift_section.beginning}~#{store_shift_section.ending}", "/stores/#{params[:store_id]}/shifts/#{store_shift_section.beginning}" %>
  <br>
<% end %>
<%= link_to "シフトを新たに作成する", new_store_store_shift_submission_path(@store) %>